.mainContainer {
  width: 100vw;
  height: 100vh;
      display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cartTable {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1rem;
}

.container {
  border: 2px solid #000;
    border-radius: 20px;
  box-shadow: 10px 5px 5px #000;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    width: 50%;
  height: auto;
  padding: 2rem;
    background: greenyellow;
}

.total {
  width: 100%;
  text-align: right;
}
