.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
}

.changeCount {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.changeButton {
  border: 2px solid #fff;
  background: blueviolet
}