.container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 2rem;
  overflow: auto;
  margin: 0 4rem;
}

.mainContainer {
  margin-top: 90px;
  padding-bottom: 20px;
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
}

