.a {
  font-size: 2rem;
  padding-top: 1rem;
}

.disp {
  display: block;
}

.hidden {
  display: none;
}

.container {
  width: 50%;
  height: auto;
  padding: 1rem 4rem 4rem 4rem;
  background: linear-gradient(to right, #3D52A0, #7091E6);
  border-radius: 2rem;
  box-shadow: 4px 4px 4px 4px;
  margin: 0 auto;
  border: 2px solid #000;
} 

.field {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
  justify-content: center;
}

.loginLabel {
  color: #000;
}

.form {
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.loginContainer {
  height: auto;
}

.submitButton {
  width: 30%;
  background: #FFF0DD;
}

.submitButton:hover {
  border: 4px solid #16F4D0;
}

.loginButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.field>input {
  font-size: 1.2rem;
}

.errorValue {
  color: red;
}

@media only screen and (max-width: 768px) {
  .menuItems {
    flex-direction: column;
  }
}