.mainMenuContainer {
  width: 100%;
  overflow: hidden;
  box-shadow: 4px 4px 4px 4px;
  height: auto;
  background: linear-gradient(to right, #3D52A0, #7091E6);
  position: fixed;
  top: 0;
  left:0;
  margin:0 !important;
  /* margin-left: -70px; */
  padding: 0;
  z-index: 10;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.menuItems {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: clamp(0.5vh, calc(1vh + 1rem), 2vh);
  font-size: clamp(0.5rem, calc(1vw + 0.5rem), 5vw);
}

.searchDiv {
  height: inherit;
  display: flex;
  align-items: center;
}

.menuItems>li>button {
  background:transparent;
  color: #000;
  font-size: 1rem;
  font-weight: 800;
}

.searchDiv>input {
    font-size: 1.5rem;
}

.rightNavigation {
  display: flex;
  justify-content: right;
  position: relative;
  top: 0;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .menuItems {
    flex-direction: column;
  }
  .navigation {
    flex-direction: column;
  }
  .rightNavigation {
    justify-content: left;
  }
  .mainMenuContainer {
    border: 2px solid #000;
    padding: 1rem;
    position: relative;
    top:0;
    width: 100vw;
    display: block;
  }

}