.container {
  width: 100%;
  display :flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  border: 2px solid #000;
  background: linear-gradient(to right, #3D52A0, #7091E6);
  margin-top: 2rem;
  padding: 2px;
}

button {
  background: transparent;
}

button:hover {
  border: 2px solid #000;
}

.active {
        background: black;
        color: #fff;
        border: 1px solid #fff;
}